.login-form {
  max-width: 500px;
  width: 450px;
}
@media (max-width: 768px) {
  .login-form {
    width: fit-content;
  }
}
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
